html{
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
   
}
.container{
    margin: 100;
    padding: 15px 25px;
}
.container img{
    width: 198.07px;
    height: 59px;
   
}



header{
    background-color: #F0FFF0;
}
.tag{
    padding-top: 20;
}
.card-group col{
    border: none;
    box-shadow: 5px 5px 10px gray;
    text-align: center;
}
img .x{
    text-align: center;

}
.card{
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    padding: 10px 10px 10px 10px;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

footer{
    background-color: #282531;
}

.list-group a{ 
    text-decoration: none;
    color: #F0FFF0;
}



